<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.expensetrackingsystem">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".TripRequest.VIEW.TripRequestView"></activity>
        <activity android:name=".MyTripDetails.VIEW.MyTripDetailsView" />
        <activity android:name=".MyTrip.VIEW.MyTripView" />
        <activity
            android:name=".PlanATrip.VIEW.PlanATripView"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Home.VIEW.HomeView"
            android:label="@string/title_activity_home_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".SignUp.VIEW.SignupView" />
        <activity
            android:name=".Login.VIEW.LoginView"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>